*.class
*.iml
/*.log
/*.log.*
/*/*.log
/*/*.log.*
.lst
*/bin/
*/.gitignore
.project
.classpath
.settings/
/.idea
/target/
**/target/*
/out
/.project
/*/.project
/*/.classpath
a.idea/
/src/main/test
application-dev.yml